<style>
.error-msg{
	font-size: 200px;
	text-align: center;
	color: red;
	}

	.p-tag {
	text-align: center;
	font-size: 30px;
	color: red;
	background-color: #000;
	}

body {
	background-image: url("/images/joker.jpg");
	background-repeat: no-repeat;
}

</style>



<h1 class="error-msg">ERROR</h1>
<p class="p-tag">Try adding a different Country code</p>
