<div class="About">
			<p>
				Hi, my name is Nikolas Moyseos, but you can call me Nick.
		I was born in the beautiful island of Cyprus in 1991.
			 </p>

			 <p>
				 On January of 2013 I’ve landed to New York for the first time,
				 with the goal to experience the American Dream and prove to myself
				 and to the world that it’s still alive and possible.
			 </p>

			 <p>
				I love bartending, which is what I do for leaving,
				but I am too curious to settle for that for the rest of my life,
				so I have decided to try coding for a little change.  Why coding?
				Because technology has such a huge impact in our lives that I think is necessary for us to keep up with it,
				and learn how to use it to the best of our advantage. Like Steve Jobs once said
				“Everybody should learn how to program a computer, everybody should learn how to use a computer language,
				because it teaches you how to think”.
				Because we live in the generation of information, and where does ALL information live??
				In computers.  I am treating coding as a door into a world of unlimited information and unlimited possibilities.
				And I also love solving problems, at which I happened to be pretty good at.
			 </p>

			 <p>
				 My short-term goal is to manage to combine both
				 my hospitality knowledge with my coding skills to get a job and keep improving my skills in both fields.
				 My long-term goal is to own it ☺. I want to create my own brand. Oh yes to own it.
				  I have a lot of long-term career goals and big ones that this page wont fit them!
			 </p>

			 <p>
				 Other things I enjoy doing are reading, cooking, and spent some quality time with my wonderful wife,
				 (yes I am married) Christina. I like practicing martial art whenever I have the time.
			 </p>
			 <h3 class="home-page-h3">
				 If you want to get to know me better click
				 <a class="home-page-link"
				 href="https://www.facebook.com/nikolas.moyseos" target="_blank" title="facebook">
					 here.
				 </a>
			 </h3>
	</div>
