		<table>
			<% for (let i = 0; i < title.length; i++) { %>
				<tr>
					<td><%= title[i].id %></td>
					<td><%= title[i].title %></td>
					<td><%= title[i].article %></td>
				</tr>
			<% } %>
		</table>
