<div class="form">
	<div class="form-heading">
<h1 class="form-heading-h"> Write you posts here. <h1>
</div>
	<div class="form-form">
		<form method="post" action="/blogform"  class="form-form-form">
			<h1 class="form-form-form-title-h">Title<h1>

			<textarea class="form-form-form-title" type="text" name="title" placeholder="..."></textarea>

				<h1 class="form-form-form-article-h">Post<h1>

				<textarea class="form-form-form-article" type="text" name="article" placeholder="..."></textarea>
			<br/>
				<button class="form-form-form-btn">Add</button>
		</form>
		
		<div class="form-form-link">
		<a class="form-form-link-l" href="/blog">Go to Blog</a>
	</div>
	</div>
</div>
