

		<form action="/" method="post">
				<input type="text" name="title" placeholder="title"/>
				<input type="text" name="body" placeholder="body"/>
				<button>Add</button>
		</form>

			<a href="/blog">blog</a>
	
