<!DOCTYPE html>
<html>
<head>
<title>About Me Images</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/images.css">
   <link rel="stylesheet" type="text/css" href="/css/reset.css"/>

</head>
<body>
  <header>
    <button>
      <a href="/">HOME</a>
    </button>
  </header>
<div class="gallery">
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
  <div class="gallery-image"></div>
</div>
</body>
</html>
