<h1 class="home-page-welcome">Welcome To Nick's Site.</h1>


<img class="img2" src = "<%= myImage %>">

  <p >
    I have created this website to share my personal transformation into a Web Developer with the world.
    I will be sharing my new skills and knowledge with you through my personal <a href=/blog title="My blog">blog</a>.
    That is where I will be posting everything I know, and everything new that I am learning as I go, as well as
    some personal favorite recourses, tips, and tricks.
  .</p>



<img class="img1" src="/images/annasconcert.jpg">



  <h2 class= "home-page-h2">
    This website is my personal development
    into a web developer!
  </h2>
