<!DOCTYPE html>
  <html>
    <head>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>

<h1 class="home-page-welcome">Welcome To My Website</h1>


      <img class="img2" src = "<%= myImage %>">

      <p>
        Hello world, my name is Nikolas Moyseos,
        and I am an upcoming web developer
      .</p>

      <p>
        I am a twenty-five years old adventurous man
        from Cyprus,
        living the American dream in New York City.
       </p>

      <p>
        I am married to a wonderful lady,
        Christina who is by my side every step
         of the way to becoming a better man
        (I admire her patience).
      </p>


        <img class="img1" src="/images/thumb_15136004_1339664309400560_2248835604445676364_n_1024.jpg">

      <p>
        Currently I am working as a bartender and a
        waiter, who is hoping to be able to learn how
         to build websites in order to share my knowledge
          and ideas with the rest of the world.
      </p>

      <h3 class="home-page-h3">
        If you want to get to know me better click
        <a class="home-page-link"
        href="https://www.facebook.com/nikolas.moyseos" target="_blank" title="facebook">
          here:
        </a>
      </h3>

       <h2 class= "home-page-h2">
         This website is my personal development
         into a web developer!
       </h2>
    </body>
  </html>
