<!DOCTYPE html>
<html>
	<head>
		<title> Nick Mo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	</head>

	<body>
		<div class="header">
				<ul class="header-container-nav">
					<h1><a  class="header-container-nav-logo" href="/">Nick Mo</a></h1>
					<li><a href="/" title="Home Page">Home</a><li>
					<li><a href="/contact" title="Contact Me">Contact</a></li>
					<li><a href="/about" title="About Me">About</a></li>
					<li><a href=/images title="Image Gallery">Gallery</a></li>
					<li><a href=/blog title="Nick's Blog">My Blog</a></li>
					<li><a href=/portfolio title="Projects And More">Portfolio</a></li>
				</ul>
		</div>

		<main>
		<%- include(page, pageArg); %>
		</main>


			<footer class="footer">
				<p>&copy This site was made by Nikolas Moyseos</p>
			</footer>
	</body>
</html>
