
/*************
****TEMPLATE******
*************/
html, body {
	min-height: 100%;
}

.header {
	clear:both;
	width: 100%;
}

.header-container-nav {
	overflow: hidden;
	background-color: #393c42;
	padding: 20px;
}


.header-container-nav-logo {
	text-decoration: none;
	float: right;
	color: white;
}


.header-container-nav li a {
	font-family: 'Raleway', sans-serif;
	color: #DDD;
	text-decoration: none;
	float: left;
	font-size: 14px;
	margin-right: 25px;
	text-transform: uppercase;
}

.footer {
border:1px solid #CCC;
	height: 25px;
	color: #000;
	clear: both;
	bottom: 0px;
	padding: 2px;
	text-align: justify;
}

/* ***
****HOME PAGE****
*** */


.home-welcome {
	padding: 50px;
  font-style: italic;
  text-align: center;
  font-size: 40px;
  /*color: blue;*/
}

.home-content {
	display: flex;
	flex-flow: column;
}

.home-content-a {
	display: flex;
	flex-flow: row;
	padding: 25px;
}

.home-content-a-p {
  font-size: 24px;
  text-align: center;
  padding: 40px;
}

.img1 {
	padding: 10px;
	width: 350px;
	height:400px;
	border-radius: 75%;
}

.home-content-b {
	padding: 25px;
	display: flex;
	flex-flow: row;
}


.img2 {
	border-radius: 50%;
	padding: 10px;
	width:400px;
	height: 350px;
	float: right;
}

.home-content-b-h2 {
	text-align: center;
	justify-content: center;
  color: red;
  font-style: normal;
  font-size: 24px;
  padding: 40px;
}




/******************
****GALLERY CSS****
******************/

#images-body *, *:after, *:before {
  box-sizing: border-box;
}

div .gallery
{
width: 100%;
max-width: 950px;
margin: auto;
}

div .gallery-image {
  float: left;
  width: 440px;
  height: 440px;
  margin: 20px;
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: cover;
}


 div .gallery-image:nth-child(3n+1)
{
  background-image: url("/images/galleryimgs/image1.jpg");
}
 div .gallery-image:nth-child(3n+2)
{
  background-image: url("/images/galleryimgs/image2.jpg");
}
div .gallery-image:nth-child(3n+3)
{
  background-image: url("/images/galleryimgs/image3.jpg");
}
div .gallery-image:nth-child(3n+4)
{
  background-image: url("/images/galleryimgs/image4.jpg");
}
div .gallery-image:nth-child(3n+5)
{
  background-image: url("/images/galleryimgs/image5.jpg");
}
 div .gallery-image:nth-child(3n+6)
{
  background-image: url("/images/galleryimgs/image6.jpg");
}
 div .gallery-image:nth-child(3n+7)
{
  background-image: url("/images/galleryimgs/image7.jpg");
}
div .gallery-image:nth-child(3n+8)
{
  background-image: url("/images/galleryimgs/image8.jpg");
}
 div .gallery-image:nth-child(3n+9)
{
  background-image: url("/images/galleryimgs/image9.jpg");
}
 div .gallery-image:nth-child(3n+10)
{
  background-image: url("/images/galleryimgs/image10.jpg");
}
 div .gallery-image:nth-child(3n+11){
  background-image: url("/images/galleryimgs/image11.jpg");
}

@media all and (max-width: 1020px) {
div .gallery-image {
    float: none;
    margin: 10px auto;
  }
}

@media all and (max-width: 500px) {
div .gallery-image {
    border: none;

    width: 100vw;
    height: 100vw;
  }
}

/***COUNTRIES***/

.countries-list-ul {
	margin: 10px 25% 10px 25%;
	border: solid; 1px;
}

.countries-list-ul li {
	padding: 5px;
	text-align: center;
	font-size:20px;
}

.countries-name {
	padding: 10px;
	text-align: center;
	font-size: 25px;
}
.countries-flag-img {
width: 500px;
height: 300px;
}

.countries-flag {
	border: 1px solid #CCC;
	margin: 20px 100px 20px 100px;
}
.countries-foot {
	margin-top: 100px;
}

/****ABOUT****/


.About {
	font-size: 30px;
	padding: 50px;
	text-align: justify;
}

/****BLOG****/

.blog-header {
	font-size: 35px;
	text-align: center;
	padding: 20px;
}

.blog-p{
	font-size: 20px;
	text-align: center;
	padding: 20px;
}


.post {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.post-content {
	flex: 1;
	padding: 40px;
}

.post-content-title {
	text-decoration: underline;
	font-size: 25px;
	padding: 20px;
}

.post-content-article {
	font-size: 20px;
	padding: 20px;
	border-bottom: 1px solid #CECECE;

}

.blog-foot {
	margin-top: 25%;
}
/*****Form*****/
.form {
	text-align: center;
	padding: 50px;
}

.form-heading {
	font-size: 35px;
	padding: 30px;
}

.form-form {
	text-align: center;
	justify-content: center;

}

.form-form-form {
	display: flex;
	flex-flow: column;
text-align: center;
justify-content: center;
}

.form-form-form-title-h {
	padding: 10px;
	font-size: 20px;
}

.form-form-form-title {
	width: 500px;
	text-align: center;
	font-size: 20px;
}

.form-form-form-article-h {
	padding: 10px;
	font-size: 20px;
}
.form-form-form-article{
	width: 750px;
	font-size: 20px;
	text-align: center;
height: 200px;
}

.form-form-form-btn {
	font-size: 20px;
	margin: 20px;
	padding: 10px;
	width: 100px;
	box-shadow: 1px 1px #000;
}
.form-form-form-btn:hover {
	font-size: 21px;

}

.form-form-link-l {
	float: left;
	padding: 20px;
	margin-left: 15px;
}
