
/*************
****TEMPLATE******
*************/
/*html, body {
	min-height: 100%;
}*/

.header {
	clear:both;
	width: 100%;
}

.header-container-nav {
	overflow: hidden;
	background-color: #000;
	list-style-type: none;
	margin-top: 0;
	border-top: 0;
	padding: 20px 20px 20px 20px;
}


.header-container-nav-logo {
	text-decoration: none;
	margin-right: 20px;
	float: right;
	color: white;
}


.header-container-nav li a {
	font-family: 'Raleway', sans-serif;
	color: #DDD;
	text-decoration: none;
	float: left;
	font-size: 12px;
	margin-right: 25px;
	text-transform: uppercase;
}

.footer {
	background-color: #CCC;
	height: 25px;
	width: 100%;
	text-align: left;
	font-size: 13px;
	color: #000;
	clear: both;
}

/* ***
****HOME PAGE****
*** */

/*#home-page
{
  background-color: #4ba089;
}*/
 /*google css color picker*/



.home-page-welcome {
	padding-top: 70px;
	clear: both;
  font-style: italic;
  text-align: center;
  font-size: 40px;
  /*color: blue;*/
}

p{
  display: block;
  font-size: 24px;
  text-align: justify;
  padding: 40px 15px 15px 15px;
}

img{
  width: 500px
}

.img1, .img2{
  float: right;
	border-radius: 50%;
  padding: 10px 10px 10px 10px;
}

.home-page-link {
	text-decoration: none;
}


.home-page-h2 {
  color: red;
  font-style: normal;
  font-size: 24px;
  padding-top: 40px;
}

.home-page-h3{
  font-size: 24px;
  font-style: normal;
  padding-top: 30px;
}


/******************
****GALLERY CSS****
******************/

#images-body *, *:after, *:before {
  box-sizing: border-box;
}

div .gallery
{
width: 100%;
max-width: 950px;
margin: auto;
}

div .gallery-image {
  float: left;
  width: 440px;
  height: 440px;
  margin: 20px;
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: cover;
}


 div .gallery-image:nth-child(3n+1)
{
  background-image: url("/images/galleryimgs/image1.jpg");
}
 div .gallery-image:nth-child(3n+2)
{
  background-image: url("/images/galleryimgs/image2.jpg");
}
div .gallery-image:nth-child(3n+3)
{
  background-image: url("/images/galleryimgs/image3.jpg");
}
div .gallery-image:nth-child(3n+4)
{
  background-image: url("/images/galleryimgs/image4.jpg");
}
div .gallery-image:nth-child(3n+5)
{
  background-image: url("/images/galleryimgs/image5.jpg");
}
 div .gallery-image:nth-child(3n+6)
{
  background-image: url("/images/galleryimgs/image6.jpg");
}
 div .gallery-image:nth-child(3n+7)
{
  background-image: url("/images/galleryimgs/image7.jpg");
}
div .gallery-image:nth-child(3n+8)
{
  background-image: url("/images/galleryimgs/image8.jpg");
}
 div .gallery-image:nth-child(3n+9)
{
  background-image: url("/images/galleryimgs/image9.jpg");
}
 div .gallery-image:nth-child(3n+10)
{
  background-image: url("/images/galleryimgs/image10.jpg");
}
 div .gallery-image:nth-child(3n+11){
  background-image: url("/images/galleryimgs/image11.jpg");
}

@media all and (max-width: 1020px) {
div .gallery-image {
    float: none;
    margin: 10px auto;
  }
}

@media all and (max-width: 500px) {
div .gallery-image {
    border: none;

    width: 100vw;
    height: 100vw;
  }
}

/***COUNTRIES***/

.countries-list-ul {
	margin: 10px 25% 10px 25%;
	border: solid; 1px;
}

.countries-list-ul li {
	padding: 5px;
	text-align: center;
	font-size:20px;
}

.countries-name {
	padding: 10px;
	text-align: center;
	font-size: 25px;
}
